.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
}
.back-btn{
    --color:white;
}
.toolbar{
    --background:linear-gradient(to bottom, #fd9e47, #fdac61 49%, #ff9e45);
}
.title{
    --color:white;
}